name: cifras
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.9.1
  sqflite: ^2.4.2
  path_provider: ^2.1.5
  path: ^1.9.1
  shared_preferences: ^2.5.4
  uuid: ^4.2.2
  supabase_flutter: ^2.8.3
  flutter_dotenv: ^5.2.1
  flutter_slidable: ^3.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
